@media(min-width: 675px){
    #canvas{
    width: 100%;
    }
    #columna-input{
        margin-bottom: 3%;
    }
}

@media(max-width:675px){
    #canvas{
    width: 85%;
    }

    #columna-canvas {
        margin-top: 2%;
    }
    #columna-input {
        margin: 4% 4% 4% 4%;

    }
    #texto-informativo{
        margin-top: 1%;
    }

}

.margen{
    background-color:#99A3A4;
    height: 2rem;

}

p{
    text-align: center;
    margin: auto;
    display: block;

}

canvas {
    padding: 0;
    margin: auto;
    display: block;

}

h6 {
    text-align:center;

}

footer {
    background-color:#99A3A4;
    width: 100%;
    bottom: 0;
    height: 2rem; 
    position: fixed;
    margin-top: 60px;

  }

#botones-color {
    margin-bottom: 30px;
}
